/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
*/

/*
Best Web Safe Fonts for HTML and CSS

font-family: 'Arial', sans-serif;
font-family: 'Verdana', sans-serif;
font-family: 'Tahoma', sans-serif;
font-family: 'Trebuchet MS', sans-serif;
font-family: 'Times New Roman', serif;
font-family: 'Georgia', serif;
font-family: 'Garamond', serif;
font-family: 'Courier New', monospace;
font-family: 'Brush Script MT', cursive;
*/


body {
  margin: 0px;
  padding: 0px;
  font-family: 'Trebuchet MS', sans-serif;
}

